backend/app/__pycache__/
backend/syscheck/__pycache__/
backend/zcore/__pycache__/
backend/zcore/migrations/__pycache__/
backend/static/react/build/.module-cache/

mysql/

docker/mysql/dump.sql

frontend/node_modules/

vimm
vimj
vimt
vimd
