{% extends "view.html" %}
{% load staticfiles %}


{% block side_bar %}
    <script src="{% static 'react/build/ViewForce.js' %}"></script>

    <div id="example"></div>
    <div id="force-filter">Force filter</div>
    <br /></div>
{% endblock side_bar %}


{% block content %}
    <div class='scene'></div>

    <script>
        var gid = {{ graph.id }}
        var force = new ForceLayout('.scene', gid, 'no;first_name;full_name')
    </script>
{% endblock content %}


{% block javascript %}
    <script src="{% static 'react/build/ZElements.js' %}"></script>
    <script src="{% static 'react/build/ForceFilter.js' %}"></script>
{% endblock javascript %}


