{% extends "view.html" %}


{% block side_bar %}
<div class="filter">
<div class='attributes'></div>

<!--
<textarea id="t"></textarea>
<textarea id="nodes-list">0</textarea>
<h4>Фильтр по атрибутам</h4>
<input onClick="filterSubmit()" type="button" value="Отфильтровать">
-->


<br />
</div>

<script>

/* Блок для вывода графа ************************************************************/

var nodesList = []
nodesList.push(0)

function ForceLayout(containerID, id, attributesFilter){
    scale = 550
    width = 600
    height = 600

    this.color = d3.scale.category20()

    this.force = d3.layout.force()
        .charge(-20)
        .linkDistance(30)
        .size([width, height])

    this.svg = d3.select(containerID)
        .append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
                //.attr('transform', 'translate(15,15)')
}

ForceLayout.prototype.update = function(gid, attributesFilter) {
    //attributesFilter = typeof attributesFilter !== 'undefined' ?  attributesFilter : 'yes'

    var self = this
    var url = '/json-force/' + gid + '/' + attributesFilter + '/'
    
    d3.json(url, function(error, graph) {
        self.force
            .nodes(graph.nodes)
            .links(graph.links)
            .start()

        var link = self.svg.selectAll("line").data(graph.links)
        link.enter().append("line")
            .attr("class", "link")
            //.style("stroke", function(d) { return color(d.attribute); })
            //.style("stroke-width", function(d) { return Math.sqrt(d.attribute); })
            //.text(function(d) { return d.title; });
        link.exit().remove()

        var node = self.svg.selectAll("circle").data(graph.nodes)
        node.enter().append("circle")
            .attr("class", "node")
            .attr("r", 5)
            //.style("fill", function(d) { return self.color(d.attribute); })
            .call(self.force.drag)
            .on('click', function(d) {
                if (nodesList[0] == 0) {
                    nodesList.shift()
                }
                nodesList.push(d.id)
                console.log(d.id)
                d3.select(this).style("fill", "orange")
            })
        node.exit().remove()

        node.append("title")
            .text(function(d) { 
                var attributes = d.attributes
                //console.log(attributes)
                return d.data + '_' + d.id + '. Свойства: ' + attributes 
            }) 
            //.attr("transform", function(d){ return "translate("+d.x+","+d.y+")"; })

        self.force.on("tick", function() {
            link.attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node.attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; })        
        })
    })
}
/* /Блок для вывода графа ************************************************************/

var toggleColor = (function(){
   var currentColor = "lightblue";

    return function(){
        currentColor = currentColor == "lightblue" ? "magenta" : "lightblue";
        d3.select(this).style("fill", currentColor);
    }
})();


/* Блок обработки фильтра ************************************************************/
var filterAttributesID = '.filter .attributes',
    gid = {{ graph.id }} 

function AttributesFilter(containerID) {
    url = '/json-attributes/'

    zstr = '<div class="btn-group" data-toggle="buttons">'
    //zstr += '<label class="btn btn-primary active" style="width:210px;text-align:left;"><input type="checkbox" autocomplete="off" checked value="zero"> Отсекать одиночные узлы</label>'

    $.getJSON(url, function(data) {
        $.each(data, function() {
            zstr += ' <label class="btn btn-primary"><input type="checkbox" autocomplete="off" value="' + this.name + '">'  + this.display + '</label>'
        })
        zstr += '<button type="button" class="btn btn-warning" onClick="filterSubmit()">Отфильтровать</button>'
        zstr += "</div>"
        $(containerID).html(zstr)
    })
}

function filterSubmit() {
    var allVals = []
    allVals.push('yes')
    //nodesList = $('#nodes-list').val()
    allVals.push(nodesList.join('-'))
console.log('nodesList ',nodesList)
    $(filterAttributesID + ' :checked').each(function() {
        allVals.push($(this).val());
    });
    var attributesFilter = allVals.join(';')
    $('#t').val(attributesFilter)
    force.update(gid, attributesFilter)
console.log('attFilter ',attributesFilter)
    nodesList = []
    nodesList.push(0)
console.log('nodesList ',nodesList)
}

AttributesFilter('.filter .attributes')


//filterSubmit('.filter .attributes')
/* /Блок обработки фильтра ************************************************************/

</script>

{% endblock side_bar %}


{% block content %}
<div class='scene'></div>

<script>
var force = new ForceLayout('.scene', gid, 'no;first_name;full_name')
filterSubmit()
</script>
{% endblock content %}


