{% extends "base.html" %}
{% load staticfiles %}


{% block side_bar %}

<h4>Создание проекта</h4>
<div id="newProjectFilter">newProjectFilter</div>
<script src="{% static 'react/build/newProjectFilter.js' %}"></script>

{% endblock side_bar %}


{% block content %}

<h1>Проекты</h1>
<ul>
{% for graph in graphs %}
    <li>
        <a href="{% url 'viewForce' graph.id %}" target=blank>Проект id</a>
        <a href="/admin/zcore/graph/{{ graph.id }}" target=blank>{{ graph.id }}</a> 
    </li>
{% endfor %}
</ul>

{% endblock content %}


