{% extends "base.html" %}
{% load staticfiles %}


{% block content %}


<h1>Проекты</h1>
<ul>

{% for graph in graphs %}
    <li>
        <a href="/admin/zcore/graph/{{ graph.id }}" target=blank>id {{ graph.id }}</a>
        -
        <!-- <a href="{% url 'viewForceD3' graph.id '' '' '' %}" target=blank>{{ graph.title }}: </a> -->
        <a href="{% url 'viewGraph' graph.id %}" target=blank>{{ graph.title }}: </a> 
    </li>
{% endfor %}
</ul>

<svg width="460" height="430" xmlns="http://www.w3.org/2000/svg">



  <symbol id="twitter-icon" viewBox="0 0 32 32">
    <path d="m 10.211467,1034.1973 -10.07732338,4.9015 4.71679858,-0.01 0,10.342 10.9304238,0 0,-10.4845 4.203111,0 -9.77301,-4.7538 z m -2.6451522,6.7408 c 3.1250002,-2.1875 5.6427282,0 5.6427282,0 l 0,4.6234 -5.6427282,0 z" fill="#000000"></path>
  </symbol>

  <use 
                    transform="translate(-0.13414399,-1034.1925)"
xlink:href="#twitter-icon"></use>

  <use xlink:href="{% static 'org.svg' %}#myicon"></use>
  <use xlink:href="/static/org.svg#myicon"></use>



  <g transform="matrix(1,2,3,4,5,6)">
    <!-- New coordinate system (thick blue line)
         x1 = 10 | x2 = 30
         y1 = 20 | y2 = 40
      -->
    <line x1="10" y1="20" x2="30" y2="40" style="stroke-width: 10px; stroke: blue;"/>
  </g>

  <!-- Previous coordinate system (thin white line)
       x1 = 1 * 10 + 3 * 20 + 5 = 75  | x2 = 1 * 30 + 3 * 40 + 5 = 155
       y1 = 2 * 10 + 4 * 20 + 6 = 106 | y2 = 2 * 30 + 4 * 40 + 6 = 226
    -->
  <line x1="75" y1="106" x2="155" y2="226" style="stroke-width: 1px; stroke: white;"/>

</svg>

{% endblock content %}


