/* Заметки для всего проекта:
Фулскрин почти реализован, нужны убирающиеся панельки
Панельку Инфо выводить справа
Добавить значки для различных типов сущностей
Добавить опцию "расплюсить" с шагом 1
Перетаскивание узлов
Фильтр-агрегатор
Вывод текстового источника, на основе которого была сформирована информационная сущность
Добавить сворачивание фильтров
*/

body {
    //display: none;
    background-color: #eee;
    //color: #eee;
}

#main-menu {
    height: 51px;
}

#content {
    //padding: 15px;
    //margin: 60px 0 0 310px;
}

#side-bar {
    //border: dashed 1px green;
    //border-right: solid 1px 777;
    padding: 15px;
    //padding: 60px 0 0 15px;
    //width: 290px;
    //height: 100%;
    //position: absolute;
    //top: 0px;

    background-color: #bbb;
    //color: #eee;
}

.chord path {
  fill-opacity: .67;
  stroke: #333;
  stroke-width: .5px;
}

h3 {
    margin: 0;
}

.scene {
    //border: solid 1px green;
}

svg {
    //border: solid 1px green;
    //background-color: lightblue;
}
svg text {
    font-size: 12px;
}
svg .link {
    stroke: gray;
    stroke-opacity: .6;
}
svg .node {
    stroke: #fff;
    stroke-width: 1.5px;
    fill: steelblue;
    //r: 5;
}

.btn-primary {
    float: left;
}

#TimeLine {
        border: solid 1px gray;
    }
    #TimeLine svg .nodeBar {
        border: solid 4px green;
    }
        .transfers-number {
            border: solid 1px lightblue;
        }
        .month-bar {
            border: solid 1px yellow;
        }
    .month-nav {
        border: solid 4px green;
        fill: gray;
        background: gray;
    }
    #TimeLine svg g.navBar text {
        fill: #333;
        cursor: pointer;
    }
    #TimeLine svg g.navBar rect {
        cursor: pointer;
    }
    #TimeLine svg g rect.MonthBar {
        display: none;
    }

.graph {
    //border: solid gray 2px;
}
    .graph .filter {
        //border: solid gray 2px;
        padding: 15px;
        width: 300px;

        overflow-x: hidden;
        float: left;
        //overflow-y: scroll;
        //display: block;
        //position: absolute;
        //min-width: 300px;
        //height: 400px;

        background-color: lightgray;
    }
        .graph .filter ul {
            margin: 0 0 0 -30px;
            list-style: none;
        }
        .graph .filter .data {
            padding: 0 15px;
        }
    .graph .scene {
        margin: 1px 301px 1px 301px;
        border: solid 1px gray;
        //padding: 15px;
        //width: 300px;

        display: block;
        overflow: hidden;
    }
        .graph .edges line {
            stroke: #bbb;
            stroke-width: 1px;
        }
        .graph .person {
            //fill: #264294;
            //fill: green;
            fill: #4682B4;
        }
        .graph .person.aggregated {
            fill: purple;
        }
        .graph .circle {
            stroke: #C2D6E6;
            fill: #4682B4;
        }
        .graph .event {
            stroke: #C2D6E6;
            fill: #4682B4;
        }
        .graph .organization {
            stroke: #C2D6E6;
            fill: #4682B4;
        }
        .graph svg text {
            fill: #333;
            stroke: #333;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .graph svg {
        }
        .graph svg .circle.true,
        .graph svg .person.true {
            fill: orange;
        }
        .graph svg .scale-nav {
            cursor: pointer;
        }
            .graph svg .scale-nav rect {
                fill: #ccc;
            }
            .graph svg .scale-nav text {
                font-size: 30px;
            }

    .graph .info {
        //margin: 2px 0 0 2px;
        padding: 15px;
        width: 300px;
        //min-width: 300px;
        //min-width: 500px;
        //height: 70px;
        height: 600px;
        float: right;

        background-color: lightgray;
    }
.attributes-filter {
}
    h3,
    .attributes-filter label {
        padding: 0 0 0 15px;
        display: block;
        clear: both;
    }

.RecursiveCheckboxTree {
    padding: 5px;
}
    .RecursiveCheckboxTree div,
    .RecursiveCheckboxTree label {
        //float: left;
    }
    .RecursiveCheckboxTree .otstup {
        padding: 0 0 0 20px;
        clear: both;
    }


/* Bootstrap */
.btn-group {
    margin: 5px 0 0 5px;
}
.btn-group label {
    //margin: 5px 0 0 5px;
    //padding: 5px 10px;
    font-size: 80%;
}
input.btn {
    margin: 5px 0 0 5px;
    font-size: 80%;
}
.form-group {
    margin: 5px 5px;
    width: 95%;
}
/* /Bootstrap */


/* Leaflet */
.map {}
    #map { 
        height: 680px; 
        margin-left: 350px;
    }
    .map-info {
        border-right: solid 1px gray;
        min-height: 500px;
        float: left;
        width: 350px;
    }
    
/* /Leaflet */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mouse-down {
    cursor: move;
}
