<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Fishhook</title>
        <link rel="stylesheet" href="/static/leaflet.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.ie.css" />
        <![endif]-->
        <link rel="stylesheet" href="/static/style.css">
        <script>var coords = [55.7522222, 37.6155556]</script>
    </head>
    <body>
        <h1>Test</h1>
        <div id="testMount">
          <%- reactOutput %>
        </div>
        <script src="/static/bundle.js"></script>
    </body>
</html>
